# SQL Part 3 Studio

Let's practice your SQL querying skills! For each question, work along in the notebook, adding your query and answering the questions.

## The Dataset

We will be using the Goodbooks-10k dataset from the exercises in the prep work. Feel free reference your previous notebooks.

1. The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
1. You can access `BooksDB` in the LaunchCode server.

## Business Issue

You are an employee at a small independent bookstore and you have been tasked with increasing sales.  You decide to use `BooksDB` to find books and themes to highlight in fun promotions throughout each month and/or season.  We will be starting with March and then you will have a chance to explore another month of your choosing.  We want to come up with a list of promotions to run each month.  If you are looking for ideas, here are some resources on different holidays:

- [https://www.calendarr.com/united-states/calendar-2022/](https://www.calendarr.com/united-states/calendar-2022/)
- [https://www.holidayinsights.com/moreholidays/](https://www.holidayinsights.com/moreholidays/)
    - Click on a month and it will take you to a more detailed page

## Part 1:  March - Women's History Month, National Pie Day (3/14), St. Patrick's Day (3/17), Season - Spring

### Event 1: Women's History Month

Highlight popular women writers based on ratings from `BooksDB` by writing a query that returns `tag_id`, the number of times each `tag_id` is used and the `tag_name`. Use the `GROUP BY` and `HAVING` clause to narrow your focus and try multiple keywords, such as "woman" and "female".

In [ ]:
-- Solution
SELECT bks.title, bt.goodreads_book_id, bt.tag_id, bt.count, bks.book_id, bks.average_rating, tgs.tag_id, tgs.tag_name
FROM BooksDB.dbo.book_tags AS bt
INNER JOIN BooksDB.dbo.books AS BKS ON bt.goodreads_book_id = bks.book_id
INNER JOIN BooksDB.dbo.tags AS tgs ON bt.tag_id = tgs.tag_id
WHERE tgs.tag_name LIKE 'female_author%' OR tgs.tag_name LIKE 'woman-author%'
--I got better results looking for popular relevant tags and then filtering for them than I did by using GROUP BY or HAVING

### Event 2: Choose another event from March/Spring

Write a query to return authors, titles, ratings, and `tag_id` that you would want to promote during your chosen event.

In [ ]:
-- Solution
-- I chose Easter
SELECT bks.authors, bks.title, bks.average_rating, bt.tag_id, bt.goodreads_book_id, tgs.tag_id, tgs.tag_name
FROM BooksDB.dbo.book_tags AS bt
INNER JOIN BooksDB.dbo.books as bks ON bt.goodreads_book_id = bks.book_id
INNER JOIN BooksDB.dbo.tags AS tgs ON bt.tag_id = tgs.tag_id
Where tgs.tag_name LIKE 'easter' OR tgs.tag_name LIKE 'spring'

Record your thoughts about why you wrote the query the way you did.

# Part 2: Choose Another Month

Choose another month and plan at least 2 events / promotions and answer the following questions:
1. Which month did you choose?
    May
1. What 2 events / promotions are you highlighting?
    Mother's Day, Memorial Day

# Part 3: Summarize your Work

For each event write at least one query that joins any two tables in `BooksDB` to support your choice and record you thoughts as to why you used the paticlular query. At least one of your queries needs to include a `HAVING` clause.

In [ ]:
-- Event 1 Query
-- Mothers' Day
SELECT bks.book_id, bks.title, bks.average_rating, tgs.tag_id, tgs.tag_name
FROM BooksDB.dbo.book_tags AS bt
INNER JOIN BooksDB.dbo.books AS bks ON bt.goodreads_book_id = bks.book_id
INNER JOIN BooksDB.dbo.tags AS tgs ON bt.tag_id = tgs.tag_id
WHERE tag_name LIKE 'mom' OR tag_name LIKE 'mother%' OR tag_name LIKE 'parenting'
GROUP BY bks.title, bks.book_id, bks.average_rating, tgs.tag_name, tgs.tag_id
HAVING average_rating > 2.5

### Summarize Event 1

Looking for books for mothers or about motherhood

In [ ]:
-- Event 2 Query
-- Memorial Day
SELECT bks.book_id, bks.title, bks.average_rating, tgs.tag_id, tgs.tag_name
FROM BooksDB.dbo.book_tags AS bt
INNER JOIN BooksDB.dbo.books AS bks ON bt.goodreads_book_id = bks.book_id
INNER JOIN BooksDB.dbo.tags AS tgs ON bt.tag_id = tgs.tag_id
WHERE tag_name LIKE 'soldier' OR tag_name LIKE 'veteran' OR tag_name LIKE 'american History'
GROUP BY bks.title, bks.book_id, bks.average_rating, tgs.tag_name, tgs.tag_id
HAVING average_rating > 2.5

### Summarize Event 2

Looking for books about american history, american military history, or books written by or about veterans.