# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [ ]:
CREATE TABLE Sep2025JunkDB.henry_geerling.planned_makes (
    recipe_id INT IDENTITY(1, 1) PRIMARY KEY,
    recipe_name VARCHAR(255),
    meal VARCHAR(255),
    dish_type VARCHAR(255),
    uses_grill BIT,
    uses_stove BIT,
    uses_oven BIT,
    uses_blender BIT,
    uses_egg_beater BIT,
);

Add three rows to your table that are your planned makes.

In [ ]:
INSERT INTO Sep2025JunkDB.henry_geerling.planned_makes
    (recipe_name, meal, dish_type, uses_grill, uses_stove, uses_oven, uses_blender, uses_egg_beater)
VALUES ('Grilled Chicken', 'Dinner', 'Entree', '1', '0', '0', '0', '0'),
    ('Bacon and Hash Brown Omlette', 'Breakfast', 'Entree', '0', '1', '0', '0', '0'),
    ('Chocolate Chip Cookies', 'Dessert', 'appetizer', '0', '0', '1', '0', '1');

## Update a Row

Change different values in one of your three rows.

In [ ]:
UPDATE Sep2025JunkDB.henry_geerling.planned_makes
SET dish_type = 'Appetizer'
WHERE dish_type = 'appetizer'

## Delete a Row

Delete one of the rows from your table.

In [ ]:
DELETE FROM Sep2025JunkDB.henry_geerling.planned_makes
WHERE recipe_id = 3

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
DROP TABLE Sep2025JunkDB.henry_geerling.planned_makes