# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Use the IMDB-Movie-Data.csv file located in this directory. The dataset contains information about 1,000 movies from IMDB.

### 1. Read data

In [ ]:
# import pandas
import pandas as pd
# create your data variable using .read_csv 

imdb_df = pd.read_csv("IMDB-Movie-Data.csv")

# create your data_indexed variable here
# Hint: use the index_col parameter to specify which column should be the index (try 'Title')
imdb_indexed = pd.read_csv("IMDB-Movie-Data.csv", index_col = "Title")

In [ ]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [7]:
# Read data with specified explicit index
# This allows you to use movie titles as row labels instead of numeric indexes

#print(data_indexed)
print(imdb_indexed)

                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy
...                       ...                       ...
Secret in Their Eyes      996       Crime,Drama,Mystery
Hostel: Part II           997                    Horror
Step Up 2: The Streets    998       Drama,Music,Romance
Search Party              999          Adventure,Comedy
Nine Lives               1000     Comedy,Family,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...
...                                                                    ...
Secret in Their Eyes     A tight-knit team of rising investigators, alo...
Hostel: Part II          Three American college students studying abroa...
Step Up 2: The Streets   Romantic sparks occur between two dance studen...
Search Party             A pair of friends embark on a mission to reuni...
Nine Lives               A stuffy businessman finds himself trapped ins...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer
...                                       ...
Secret in Their Eyes                Billy Ray
Hostel: Part II                      Eli Roth
Step Up 2: The Streets             Jon M. Chu
Search Party                   Scot Armstrong
Nine Lives                   Barry Sonnenfeld

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...
...                                                                    ...
Secret in Their Eyes     Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...
Hostel: Part II          Lauren German, Heather Matarazzo, Bijou Philli...
Step Up 2: The Streets   Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party             Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives               Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727
...                       ...                ...     ...     ...
Secret in Their Eyes     2015                111     6.2   27585
Hostel: Part II          2007                 94     5.5   73152
Step Up 2: The Streets   2008                 98     6.2   70699
Search Party             2014                 93     5.6    4881
Nine Lives               2016                 87     5.3   12435

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0
...                                     ...        ...
Secret in Their Eyes                    NaN       45.0
Hostel: Part II                       17.54       46.0
Step Up 2: The Streets                58.01       50.0
Search Party                            NaN       22.0
Nine Lives                            19.64       11.0

[1000 rows x 11 columns]

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [10]:
# Use the head() function to view the first 5 rows of the data set

print(imdb_indexed.head())

                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0

In [11]:
# Use the tail() function to view the last 5 rows of the data set
print(imdb_indexed.tail())

                        Rank                  Genre  \
Title
Secret in Their Eyes     996    Crime,Drama,Mystery
Hostel: Part II          997                 Horror
Step Up 2: The Streets   998    Drama,Music,Romance
Search Party             999       Adventure,Comedy
Nine Lives              1000  Comedy,Family,Fantasy

                                                              Description  \
Title
Secret in Their Eyes    A tight-knit team of rising investigators, alo...
Hostel: Part II         Three American college students studying abroa...
Step Up 2: The Streets  Romantic sparks occur between two dance studen...
Search Party            A pair of friends embark on a mission to reuni...
Nine Lives              A stuffy businessman finds himself trapped ins...

                                Director  \
Title
Secret in Their Eyes           Billy Ray
Hostel: Part II                 Eli Roth
Step Up 2: The Streets        Jon M. Chu
Search Party              Scot Armstrong
Nine Lives              Barry Sonnenfeld

                                                                   Actors  \
Title
Secret in Their Eyes    Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...
Hostel: Part II         Lauren German, Heather Matarazzo, Bijou Philli...
Step Up 2: The Streets  Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party            Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives              Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

                        Year  Runtime (Minutes)  Rating  Votes  \
Title
Secret in Their Eyes    2015                111     6.2  27585
Hostel: Part II         2007                 94     5.5  73152
Step Up 2: The Streets  2008                 98     6.2  70699
Search Party            2014                 93     5.6   4881
Nine Lives              2016                 87     5.3  12435

                        Revenue (Millions)  Metascore
Title
Secret in Their Eyes                   NaN       45.0
Hostel: Part II                      17.54       46.0
Step Up 2: The Streets               58.01       50.0
Search Party                           NaN       22.0
Nine Lives                           19.64       11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [ ]:
# The info() function: 
print(imdb_indexed.info())
# This provides a summary of the dataframe, including number and range of entries,
# number of columns with datatypes and non-null counts for each, and memory space used.

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB
None

In [ ]:
# shape:
print(imdb_indexed.shape)

# what information does shape provide?  what is the order?
# This returns the number of rows, followed by the number of columns.

(1000, 11)

In [ ]:
# columns:
print(imdb_indexed.columns)

# what information does columns provide?
# This lists the column names

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [ ]:
# The describe() function: 
print(imdb_indexed.describe())
# This appears to provide a set of statistics for all columns whcih are int/int64/float

              Rank         Year  Runtime (Minutes)       Rating         Votes  \
count  1000.000000  1000.000000        1000.000000  1000.000000  1.000000e+03
mean    500.500000  2012.783000         113.172000     6.723200  1.698083e+05
std     288.819436     3.205962          18.810908     0.945429  1.887626e+05
min       1.000000  2006.000000          66.000000     1.900000  6.100000e+01
25%     250.750000  2010.000000         100.000000     6.200000  3.630900e+04
50%     500.500000  2014.000000         111.000000     6.800000  1.107990e+05
75%     750.250000  2016.000000         123.000000     7.400000  2.399098e+05
max    1000.000000  2016.000000         191.000000     9.000000  1.791916e+06

       Revenue (Millions)   Metascore
count          872.000000  936.000000
mean            82.956376   58.985043
std            103.253540   17.194757
min              0.000000   11.000000
25%             13.270000   47.000000
50%             47.985000   59.500000
75%            113.715000   72.000000
max            936.630000  100.000000

### 4. Data Selection -- Indexing and Slicing

In [18]:
#  Extract data as series
# define and print the variable 'genre'
genre = imdb_indexed["Genre"]
print(genre)

Title
Guardians of the Galaxy     Action,Adventure,Sci-Fi
Prometheus                 Adventure,Mystery,Sci-Fi
Split                               Horror,Thriller
Sing                        Animation,Comedy,Family
Suicide Squad              Action,Adventure,Fantasy
                                     ...
Secret in Their Eyes            Crime,Drama,Mystery
Hostel: Part II                              Horror
Step Up 2: The Streets          Drama,Music,Romance
Search Party                       Adventure,Comedy
Nine Lives                    Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [ ]:
# Extract the data as a dataframe and print it
imbd_df2 = pd.read_csv("IMDB-Movie-Data.csv")

print(imdb_df2)

     Rank                    Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
1                  124     7.0  485820              126.46       65.0
2                  117     7.3  157606              138.12       62.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
..                 ...     ...     ...                 ...        ...
995                111     6.2   27585                 NaN       45.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
998                 93     5.6    4881                 NaN       22.0
999                 87     5.3   12435               19.64       11.0

[1000 rows x 12 columns]

In [ ]:
# Extract data using rows

# loc function

guardians_of_the_galaxy = imdb_indexed.loc["Guardians of the Galaxy"]
print(guardians_of_the_galaxy)

# Based on the apparent request to use loc, I think this question wanted me to extract one row of data?

Rank                                                                  1
Genre                                           Action,Adventure,Sci-Fi
Description           A group of intergalactic criminals are forced ...
Director                                                     James Gunn
Actors                Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Year                                                               2014
Runtime (Minutes)                                                   121
Rating                                                              8.1
Votes                                                            757074
Revenue (Millions)                                               333.13
Metascore                                                          76.0
Name: Guardians of the Galaxy, dtype: object

In [24]:
# iloc function

promethius = imdb_indexed.iloc[1]
print(promethius)

Rank                                                                  2
Genre                                          Adventure,Mystery,Sci-Fi
Description           Following clues to the origin of mankind, a te...
Director                                                   Ridley Scott
Actors                Noomi Rapace, Logan Marshall-Green, Michael Fa...
Year                                                               2012
Runtime (Minutes)                                                   124
Rating                                                              7.0
Votes                                                            485820
Revenue (Millions)                                               126.46
Metascore                                                          65.0
Name: Prometheus, dtype: object

### 5. Data Selection - Based on Conditional Filtering

In [28]:
# Use this code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated significant revenue.
# For "significant revenue", filter for movies in the top 25% of revenue (use data['Revenue (Millions)'].quantile(0.75))

selected_movies = imdb_indexed[(imdb_indexed["Year"] >= 2010)
                               & (imdb_indexed["Year"] <= 2016) 
                               & (imdb_indexed["Rating"] < 6.0) 
                               & (imdb_indexed["Revenue (Millions)"] >= imdb_indexed["Revenue (Millions)"].quantile(0.75))]
print(selected_movies)

                                           Rank                     Genre  \
Title
Fifty Shades of Grey                         64    Drama,Romance,Thriller
Ghostbusters                                 80     Action,Comedy,Fantasy
Transformers: Age of Extinction             127   Action,Adventure,Sci-Fi
The Twilight Saga: Breaking Dawn - Part 2   367   Adventure,Drama,Fantasy
Grown Ups 2                                 395                    Comedy
Clash of the Titans                         576  Action,Adventure,Fantasy
Kickboxer: Vengeance                        581                    Action
Teenage Mutant Ninja Turtles                658   Action,Adventure,Comedy
Green Lantern                               674   Action,Adventure,Sci-Fi
G.I. Joe: Retaliation                       879   Action,Adventure,Sci-Fi
The Twilight Saga: Breaking Dawn - Part 1   926   Adventure,Drama,Fantasy
The Twilight Saga: Eclipse                  942   Adventure,Drama,Fantasy

                                                                                 Description  \
Title
Fifty Shades of Grey                       Literature student Anastasia Steele's life cha...
Ghostbusters                               Following a ghost invasion of Manhattan, paran...
Transformers: Age of Extinction            Autobots must escape sight from a bounty hunte...
The Twilight Saga: Breaking Dawn - Part 2  After the birth of Renesmee, the Cullens gathe...
Grown Ups 2                                After moving his family back to his hometown t...
Clash of the Titans                        Perseus demigod, son of Zeus, battles the mini...
Kickboxer: Vengeance                              A kick boxer is out to avenge his brother.
Teenage Mutant Ninja Turtles               When a kingpin threatens New York City, a grou...
Green Lantern                              Reckless test pilot Hal Jordan is granted an a...
G.I. Joe: Retaliation                      The G.I. Joes are not only fighting their mort...
The Twilight Saga: Breaking Dawn - Part 1  The Quileutes close in on expecting parents Ed...
The Twilight Saga: Eclipse                 As a string of mysterious killings grips Seatt...

                                                     Director  \
Title
Fifty Shades of Grey                       Sam Taylor-Johnson
Ghostbusters                                        Paul Feig
Transformers: Age of Extinction                   Michael Bay
The Twilight Saga: Breaking Dawn - Part 2         Bill Condon
Grown Ups 2                                      Dennis Dugan
Clash of the Titans                           Louis Leterrier
Kickboxer: Vengeance                           John Stockwell
Teenage Mutant Ninja Turtles               Jonathan Liebesman
Green Lantern                                 Martin Campbell
G.I. Joe: Retaliation                              Jon M. Chu
The Twilight Saga: Breaking Dawn - Part 1         Bill Condon
The Twilight Saga: Eclipse                        David Slade

                                                                                      Actors  \
Title
Fifty Shades of Grey                       Dakota Johnson, Jamie Dornan, Jennifer Ehle,El...
Ghostbusters                               Melissa McCarthy, Kristen Wiig, Kate McKinnon,...
Transformers: Age of Extinction            Mark Wahlberg, Nicola Peltz, Jack Reynor, Stan...
The Twilight Saga: Breaking Dawn - Part 2  Kristen Stewart, Robert Pattinson, Taylor Laut...
Grown Ups 2                                Adam Sandler, Kevin James, Chris Rock, David S...
Clash of the Titans                        Sam Worthington, Liam Neeson, Ralph Fiennes,Ja...
Kickboxer: Vengeance                       Dave Bautista, Alain Moussi, Gina Carano, Jean...
Teenage Mutant Ninja Turtles               Megan Fox, Will Arnett, William Fichtner, Noel...
Green Lantern                              Ryan Reynolds, Blake Lively, Peter Sarsgaard,M...
G.I. Joe: Retaliation                      Dwayne Johnson, Channing Tatum, Adrianne Palic...
The Twilight Saga: Breaking Dawn - Part 1  Kristen Stewart, Robert Pattinson, Taylor Laut...
The Twilight Saga: Eclipse                 Kristen Stewart, Robert Pattinson, Taylor Laut...

                                           Year  Runtime (Minutes)  Rating  \
Title
Fifty Shades of Grey                       2015                125     4.1
Ghostbusters                               2016                116     5.3
Transformers: Age of Extinction            2014                165     5.7
The Twilight Saga: Breaking Dawn - Part 2  2012                115     5.5
Grown Ups 2                                2013                101     5.4
Clash of the Titans                        2010                106     5.8
Kickboxer: Vengeance                       2016                 90     4.9
Teenage Mutant Ninja Turtles               2014                101     5.9
Green Lantern                              2011                114     5.6
G.I. Joe: Retaliation                      2013                110     5.8
The Twilight Saga: Breaking Dawn - Part 1  2011                117     4.9
The Twilight Saga: Eclipse                 2010                124     4.9

                                            Votes  Revenue (Millions)  \
Title
Fifty Shades of Grey                       244474              166.15
Ghostbusters                               147717              128.34
Transformers: Age of Extinction            255483              245.43
The Twilight Saga: Breaking Dawn - Part 2  194329              292.30
Grown Ups 2                                114482              133.67
Clash of the Titans                        238206              163.19
Kickboxer: Vengeance                         6809              131.56
Teenage Mutant Ninja Turtles               178527              190.87
Green Lantern                              231907              116.59
G.I. Joe: Retaliation                      152145              122.51
The Twilight Saga: Breaking Dawn - Part 1  190244              281.28
The Twilight Saga: Eclipse                 192740              300.52

                                           Metascore
Title
Fifty Shades of Grey                            46.0
Ghostbusters                                    60.0
Transformers: Age of Extinction                 32.0
The Twilight Saga: Breaking Dawn - Part 2       52.0
Grown Ups 2                                     19.0
Clash of the Titans                             39.0
Kickboxer: Vengeance                            37.0
Teenage Mutant Ninja Turtles                    31.0
Green Lantern                                   39.0
G.I. Joe: Retaliation                           41.0
The Twilight Saga: Breaking Dawn - Part 1       45.0
The Twilight Saga: Eclipse                      58.0

In [ ]:
# Bonus Challenge: Try adjusting the quantile value to be more specific.
selected_movies = imdb_indexed[(imdb_indexed["Year"] >= 2010)
                               & (imdb_indexed["Year"] <= 2016) 
                               & (imdb_indexed["Rating"] < 6.0) 
                               & (imdb_indexed["Revenue (Millions)"] >= imdb_indexed["Revenue (Millions)"].quantile(0.90))]
#print(selected_movies)
# Can you find movies with exactly the characteristics you're looking for by experimenting with different thresholds?
selected_movies = imdb_indexed[(imdb_indexed["Year"] >= 2010)
                               & (imdb_indexed["Year"] <= 2016) 
                               & (imdb_indexed["Rating"] < 5.0) 
                               & (imdb_indexed["Revenue (Millions)"] >= imdb_indexed["Revenue (Millions)"].quantile(0.90))]
print(selected_movies)
# Two twilight movies take the cake for worst high-grossing bad movies released 2010-2016
# They are the only ones to rank in the 90th percentile for revenue with a rating of less than 5/10

                                           Rank                    Genre  \
Title
The Twilight Saga: Breaking Dawn - Part 1   926  Adventure,Drama,Fantasy
The Twilight Saga: Eclipse                  942  Adventure,Drama,Fantasy

                                                                                 Description  \
Title
The Twilight Saga: Breaking Dawn - Part 1  The Quileutes close in on expecting parents Ed...
The Twilight Saga: Eclipse                 As a string of mysterious killings grips Seatt...

                                              Director  \
Title
The Twilight Saga: Breaking Dawn - Part 1  Bill Condon
The Twilight Saga: Eclipse                 David Slade

                                                                                      Actors  \
Title
The Twilight Saga: Breaking Dawn - Part 1  Kristen Stewart, Robert Pattinson, Taylor Laut...
The Twilight Saga: Eclipse                 Kristen Stewart, Robert Pattinson, Taylor Laut...

                                           Year  Runtime (Minutes)  Rating  \
Title
The Twilight Saga: Breaking Dawn - Part 1  2011                117     4.9
The Twilight Saga: Eclipse                 2010                124     4.9

                                            Votes  Revenue (Millions)  \
Title
The Twilight Saga: Breaking Dawn - Part 1  190244              281.28
The Twilight Saga: Eclipse                 192740              300.52

                                           Metascore
Title
The Twilight Saga: Breaking Dawn - Part 1       45.0
The Twilight Saga: Eclipse                      58.0